<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:if="${error != null}"> <i th:text="${error}"></i> </h1>
    <a th:href="@{/form}">new Pegawai</a>
    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="x : ${listPegawai}">
                <td th:text="${x.id}">Id</td>
                <td th:text="${x.code}">Code</td>
                <td th:text="${x.name}">Name</td>
                <td>
                    <a th:href="@{/form?id={id}(id=${x.id})}">Edit</a> ||
                    <a th:href="@{/detele/{id}(id=${x.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>